<%- include('partials/header') -%>
 
<section class="centered error">
    <h1>500 - Internal Server Error</h1>
    <p>Sorry, something went wrong! But here is a picture of a cat!</p>
    <img src="https://http.cat/500" alt="500 error Cat">
    <p><a href="/" class="ghostButton inline-block">Return to Home<span>More Ceramics</span></a></p>
</section>

<%- include('partials/footer') -%>