<%- include('partials/header') -%>

  <section class="checkout-message">
    <p>Forgot to add something to your cart? <br> Shop around then come back later!</p>
  </section>

<%- include('partials/footer') -%>