
<%- include('partials/header') -%>

  <p class="centered thanks">Thank You for your Support!</p>
  <section class="cartContainer">
    <div class="tableContainer">
      <table class="centered">
          <thead>
              <tr>
                <th scope="col">Description</th>
                <th scope="col">Your Art</th>
                <th scope="col">Price</th>
                <th scope="col">Qty</th>
              </tr>
          </thead>
          <tbody id="tbody">

          </tbody>
          <tfoot>
            <tr>
              <td></td>
              <th class="total">Total</th>
              <td id="sum"></td>
              <td id="count"></td>
            </tr>
          </tfoot>
      </table>
    </div>
    <div class="centered cartButtonContainer">
      <button class="ghostButton quicksand" type="submit" id="checkout-button">Checkout<span>Checkout</span></button>
      <a href="/" class="ghostButton inline-block">Keep Shopping<span>Keep Shopping</span></a>
    </div>
  </section>
    
  </body>
  
  <script src="/cart.js"></script>
  <script src="/header.js"></script>
 
</html>
