<%- include('partials/header') -%>

<section class="authContainer">
  <% if (messages.error) { %> 
      <div class="centered alertDanger">
        <%= messages.error %>
      </div>
  <% } %> 
 
  <form action="/admin/resetPassword" method="POST" class="centered">
    <div class="">
      <label for="inputEmail" class="">Email address</label>
      <input
        type="email"
        class=""
        id="inputEmail"
        name="email"
      />
    </div>
    <button type="submit" id = 'newPasswordRequestButton' class="">Submit</button>
  </form>
</section>
  

<%- include('partials/footer') -%>