<%- include('partials/header') -%>


  <section class="checkout-message">
    <p>
      We appreciate your business! <br> If you have any questions, please email me at
      <a href="hunternancym@gmail.com">hunternancym@gmail.com</a>.
    </p>
  </section>

  <%- include('partials/footer') -%>