/* my styles */
*{
    box-sizing: border-box;
    font-size: 10px;
    text-decoration: none;
    color: darkslategray;
    background-color: whitesmoke;
    font-family: 'Quicksand', sans-serif;
}
h1, h2, h3, button, .checkout {
    font-family: "Marcellus", serif;
}
.centered {
    text-align: center;
}
a, p {
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
}
/* buttons */
.zoomButton {
    border-radius: 16px;
    border: 1.5px solid darkslategray;
    padding: 0.3rem 1.5rem;
    color: darkslategray;
    display: inline-block;
    overflow: hidden; /* Prevents scale overflow */
}
.zoomButton:hover {
    color: rgb(153, 0, 255);
}
/* text needs to be nested in span to have text transition larger without enlarging/growing the whole button  */
.zoomButton span {
    display: inline-block;
    transition: transform 0.4s ease-out, color 0.3s ease-out;
    transform-origin: center;
    font-size: 1rem;
}
.zoomButton:hover span {
    transform: scale(1.1);
    color: black;
}

.ghostButton {
    overflow: hidden;
    padding: .6rem 1.5rem;
	font-size: 1rem;
	position: relative;
	border: 2px solid black;
    border-radius: 16px;
	color: black;
	background-color: transparent;
	text-align: center;
}
.ghostButton {
    span {
        position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding: .6rem 1.5rem;
		opacity: 0;
		color: white;
		transition: 0.35s ease;
        background-color: black;
	}
    &::before {
		content: "";
		left: 0;
		top: 0;
		position: absolute;
		width: 0;
		height: 100%;
		background-color: black;
		transition: 0.5s ease;
	}

	&:hover {
		&:before {
			width: 100%;
		}

		span {
			opacity: 1;
		}
	}
}
/* header  */
.heroImgFrontPage {
    width: 100%;
    height: 20rem;
    object-fit: cover;
    object-position: 50% 65%;
    display: block;
}
.heroImg {
    width: 100%;
    height: 10rem;
    object-fit: cover;
    object-position: 50% 65%;
}
header {
    padding: 1rem .5rem;
}
header, .customNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* navigation bar */
.title {
    font-size: 2rem;
    font-weight: 600;
    line-height: 2.1rem;
}
#dropdownButton {
    background: whitesmoke;
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
}
.dropdownContainer {
    display: inline-block;
}
.dropdownContent {
    max-height: 0;
    overflow: hidden;
    margin-top: .5rem;
    
    opacity: 0;
    transition: max-height 0.4s ease, opacity 0.4s ease;
    position: absolute;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
    pointer-events: none;
}
.dropdownContent.show {
    max-height: 500px;
    opacity: 1;
    pointer-events: auto; 
  }
.dropdownContent a {
    padding: .8rem 1rem;
    display: block;
    color: darkslategray;
}
.dropdownContent a:hover {
    background-color: #f1f1f1;
    color: black;
}
.link{
    padding: .5rem 1rem;
    border: none;
    color: darkslategray;
}
.link:hover {
    color: black;
    border-bottom: 1px solid black;
}
.customNav {
    padding: 0 1.5rem;
}
/* tagline */
.tagline {
    padding: 7rem 4.5rem;
    font-size: 2.3rem;
}
/* recent work */
.secondHeader {
    padding: 0 0 1rem 0;
}
.productCard {
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 0;
    break-inside: avoid;
    cursor: pointer;
    overflow: hidden;
}
.productCard:hover .frontpageImg {
    transform: scale(1.2); 
}
.frontpageImg {
    transition: transform 7s ease;
    width: 100%;
    height: auto;
    display: block;
    margin: 0;
}
.imageGrid {
    column-count: 2;
    column-gap: 0;
    padding: 0;
    margin: 0;
}
.seeMoreButton {
    margin: 2rem auto;
}
@media (min-width: 768px) {
    .imageGrid {
        column-count: 3;
    }
}

/* about section */
.aboutSection {
    padding: 5rem 0;
    line-height: 1.3rem;
}
.aboutSection h2 {
    padding: 3rem 0;
    font-size: 1.8rem;
}
.aboutContainer {
    display: flex;
}
.aboutContainer img {
    width: 50%;
    object-fit: contain;
}
.aboutBlurb {
    font-size: 1.2rem;
    padding: 5rem 4rem;
}
.name {
    font-size: 1.3rem;
    font-weight: 600;
    padding-bottom: 2rem;
}
@media (max-width: 700px) {
    .aboutContainer {
        flex-direction: column;
        align-items: center;
    }
    .aboutBlurb {
        padding: 0 4rem 4rem;
    }
}
@media (min-width: 1200px) {
    .aboutContainer img {
        width: 30%;
        margin: 2rem 3rem 0 0;
    }
    .aboutBlurb {
        padding: 6rem 13rem;
    }
}

/* footer */
.icons {
    display: flex;
    justify-content: center;
}
.icons li {
    margin: 1rem;
}
.icons a{
    transition: background-color 0.25s ease-in-out;
    display: inline-block;
    width: 2.75em;
    height: 2.75em;
    line-height: 2.8em;
    text-align: center;
    border: 0;
    box-shadow: inset 0 0 0 1px #cccccc; 
    /* outline of icon */
    border-radius: 100%;
    color: #aaa;
}
.icons a:hover {
    background: rgba(0, 0, 0, 0.025);
}

/* category styles */
.categoryTitle {
    font-size: 2rem;
    padding: 3rem 0;
}
.categoryContainer {
    display: flex;
    padding-bottom: 2rem;
    gap: .5rem;
    padding: 0 1rem;
}
.categoryCard {
    width:50%;
    padding: 0 ;
}
.categoryImg {
    object-fit: contain;
    width:100%;   
}
.prodTitle {
    font-size: 1.2rem;
    font-weight: 600;
    padding: .5rem 0;
}
@media (min-width: 900px) {
    .categoryCard {
        width:33%;
    }
}
@media (min-width: 1200px) { 
    .categoryContainer {
        padding: 0 8rem 2rem;
    }
}
@media (min-width: 1600px) { 
    .categoryContainer {
        padding: 0 15rem 2rem;
    }
}

/* post styles */

.postTitle {
   
    font-size: 2.3rem;
    padding: 2rem 0 1.5rem 3rem;
}
.postContainer {
    padding: 1rem 3rem 3rem 3rem;
    display: flex;
    flex-direction: column;
}
.mainImage {
    width: 80%;
    border-radius: 12px;
    transition: all 0.3s ease;
}
.galleryContainer {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: .5rem;
}
.gallery {
    width: 30%;
    aspect-ratio: 1 / 1;
    border-radius: 8px;
    object-fit: cover;
    transition: transform 0.2s ease;
}
.gallery:hover {
    transform: scale(1.05);
}
.postInfo {
    margin-top: 2rem;
    font-size: 1.3rem;
    line-height: 1.7rem;
}
.quantityLabel {
    font-family: 'Quicksand', sans-serif;
}
.selectQty {
    appearance: base-select;
    font-size: 1.2rem;
    background-color: transparent;
    font-family: 'Quicksand', sans-serif;
    border-radius: calc(0.5rem - 2px);
}
.selectQty option {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.2rem;
}
.addToCartForm {
    margin: 0 0 3rem 0;
}
.buttonContainer {
    padding: 2rem 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 1rem; 
    line-height: 1.25rem;
}
.checkout {
    display: inline-flex;
}
.keepLooking {
    display: inline-block;
    margin: 0 0 3rem 0;
    line-height: 1.25rem;
    font-family: "Marcellus", serif;
    width: 70%;
}

/* mobile media queries for post page */

@media screen and (min-width: 736px) {
    .postContainer {
        flex-direction: row;
    }
}

/* discount too high error alert */

.custom-alert {
    padding-right: .6rem;
}
.custom-close {
    opacity: .6;
    background-color: hsl(354, 67%, 91%) ;
    padding: 0 .5rem;
    color: black;
    margin-left: .6rem;
    }
.custom-close:hover {
    background-color: transparent;
    opacity: 1;  
    box-shadow: 0 0 0 2px rgba(220, 53, 69, 0.2); 
    border-radius: 0.25rem;           
    }

    /* add to cart animation */
.shopping-cart-nav {
    position: relative;
}
.shopping-cart-nav::before {
    position: absolute;
    content: attr(data-product-count);
    
    top: -.8rem;
    right: -.7rem;
    
    width: 1.5rem;
    height: 1.5rem;
    
    color: black;
    border: 1px solid black;
    background-color:transparent;
    font-family: sans-serif;
    font-size: 1rem;
    
    border-radius: 50%;
    
    text-align:center;
    line-height: 1.6rem;
    }
.shopping-cart-nav:not([data-product-count])::before {
    display: none;
}
.shopping-cart {
    position: fixed;
    right: 1rem;
    bottom: 4rem;
    
    width: 4rem;
    height: 4rem;
    background-color: #fff;
    border-radius: 50%;
    outline: .5rem solid transparent;
    
    text-align:center;
    line-height: 4rem;
    
    cursor: pointer;
    box-shadow: 0 .2rem .6rem #0006;
    transition: .5s ease-in-out;
    z-index: 100;
    }
    
    .shopping-cart.active {
    width: 8rem;
    border-radius: .8rem;
    }
    
    .shopping-cart.active > span{
    margin-left: -4rem;
    }
    
    .arrow:hover, .shopping-cart:hover {
    outline: .5rem solid #fff5;
    }
    
    .shopping-cart::before {
    position: absolute;
    content: attr(data-product-count);
    
    top: -.5rem;
    right: -.5rem;
    
    width: 2rem;
    height: 2rem;
    
    color: #fff;
    background-color: rgb(153, 0, 255);
    font-family: sans-serif;
    
    border-radius: 50%;
    
    text-align:center;
    line-height: 2rem;
    }
    td {
    vertical-align: middle;
    }
    thead {
    font-weight: 600;
    border-bottom: solid 1px #888;
    margin: 0 0 3rem;
    }
    tr:first-child td {
    padding-top: 2rem;
    }
    td:nth-child(1) { width: 50%; } /* Image */
    td:nth-child(2) { width: 20%; } /* Title */
    td:nth-child(3) { width: 10%; } /* Price */
    td:nth-child(4) { width: 10%; } /* Qty */
    td:nth-child(5) { width: 10%; } /* Delete */
    
    .cartImage {
    width: 40%;
    }
    @media screen and (max-width: 736px){
        .cartImage {
        width: 80%;
        }
    }
    @media screen and (min-width: 1025px){
        .cartImage {
        width: 25%;
        }
        table {
        font-size: 1.3rem;
        }
    }
    .cart-icon {
    font-size: 2rem;
    transition: .5s ease-in-out;
    }

    /* profile styles */

.hidden {
    display: none;
}
#category {
    font-family: 'Quicksand', sans-serif;
    border-radius: 8px;
    border: 1px solid;
    padding: .2rem 1.7rem;
}
#category option {
    font-size: 1rem;
}
.radio {
    display: inline;
}
.productContainer, .addProductContainer, .productDiv {
    width: 50%;
}
.favoriteTrash {
    background-color: transparent;
    display: flex;
    justify-content: end;
    align-content: center;
    position: relative;
    bottom: 1.5rem;
}
.favoriteTrash form {
    background-color: transparent;
}
.iconButton {
    font-size: 1rem;
    border: 1px solid grey;
}
.buttonContainerProfile {
    position: relative;
    bottom: 1.4rem;
}
.buttonContainerProfile .btn {
    width: 100%;
    padding: 0;
}
.favorite {
    background: #fec708; 
}
.profileReturn {
    width: 15%;
    margin: 2rem auto;
}
@media screen and (min-width: 1250px) {
    .productContainer {
        width: 33%;
    }
    .productDiv {
        width: 60%;
    }
    .addProductContainer {
        width: 40%;
    }
}
@media screen and (min-width: 1550px) {
    .productContainer {
        width: 25%;
    }
    .productDiv {
        width: 62%;
    }
    .addProductContainer {
        width: 33%;
    }
}
/* payment success page */

.checkout-message {
        padding: 3rem;
        font-size: 2rem;
        color: black;
}
.checkout-message p {
    text-align: center;	
    line-height: 2.2rem;	
}

/* login styles */
.loginContainer {
    margin: 4rem auto;
    line-height: 1.5rem;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.1rem;
}
.loginContainer button {
    margin: 1rem auto;
    font-size: 1rem;
    border: 1px solid;
    border-radius: 5px;
    padding: .3rem 1rem;
}
.loginContainer input {
    margin-top: .5rem;
    padding: .3rem;
    border: 1px solid;
    border-radius: 5px;
}
.forgotPassword {
    display: block;
    margin-top: 2rem;
}